<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.n0pe.fuckingdoor"
	>

	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		>
		<activity
			android:name=".Main"
			android:lockTaskMode="always"
			android:showOnLockScreen="true"
			android:screenOrientation="userLandscape"
			>
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

	</application>

</manifest>
